<script>
import { each } from "svelte/internal";

	import "../node_modules/materialize-css/dist/css/materialize.min.css"
	import "../node_modules/materialize-css/dist/js/materialize"
	let sourceText = ""

	let promise = null;
	let langsPromise = listLangs();
	async function listLangs() {
		let resp = await fetch("/langs", {
			method: "GET", 
			mode: 'cors', 
			headers: {
      			'Content-Type': 'application/json'	      
    		},
		})

		if (resp.ok) {
			return resp.json();
		}
	}
	
	async function translate() {
			
		let resp = await fetch("/", {
			method: "POST", 
			mode: 'cors', 
			headers: {
      			'Content-Type': 'application/json'	      
    		},
			body: JSON.stringify({
					Text: [sourceText],
					LangCode: "en",
					Amount: 10
			}),
		})

		if (resp.ok) {
			return resp.json();
		}
		
	}

	function translateClick(text) {
		if (sourceText.trim()) {
			promise = translate()
		}
	}

</script>

<main>

	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			<br /><br />
			<h2 class="header center orange-text">Something translator</h2>
			<br /><br />
		</div>
	</div>

	<div class="container">
		<div class="section">
			<!--   Icon Section   -->
			{#await langsPromise}
				<div class="row">
					<div class="col s12 m5">
					<select id="langs-loading">
						<option value="" disabled selected>Loading langs</option>
					</select>
					<label for="langs-loading">Select language</label>
					</div>
				</div>
			{:then langs} 
				<div class="row">
					<div class="col s12 m5">
					<select id="langs-loaded">
						<option value="" disabled selected>Choose your option</option>
					</select>
					<label for="langs-loaded">Language</label>
					</div>
				</div>
			{/await}
			<div class="row">
				<div class="col s12 m5">
					<textarea id="textarea1" class="materialize-textarea" bind:value={sourceText}></textarea>
					<label for="textarea1">Source text</label>
				</div>
				<div class="col s12 m2">
					{#await promise}
						<button class="row center btn btn-block disabled" >Translating</button>
					{:then resp} 
						<button class="row center btn btn-block" on:click={translateClick}>Translate</button>	
					{:catch err}
						<button class="row center btn btn-block" on:click={translateClick}>Translate</button>	
					{/await}
					
				</div>
				<div class="col s12 m5">
					{#await promise}
						<textarea id="textarea2" class="materialize-textarea disabled"></textarea>
						<label for="textarea2">Output text</label>
					{:then resp} 
						<textarea id="textarea2" class="materialize-textarea disabled">{resp ? resp.Text : ""}</textarea>
						<label for="textarea2">{resp ? resp.Langs.map((l) => l.Name).join(" -> ") : "Output text"}</label>
					{/await}

				</div>

			</div>
		</div>
		<br /><br />
	</div>

</main>

<footer class="page-footer orange">
	<div class="footer-copyright">
		<div class="container">
			Made by <a
				class="orange-text text-lighten-3"
				href="mailto:valdemar.ceccon@gmail.com">Valdemar Ceccon</a
			>
		</div>
	</div>
</footer>
<style>
	.btn-block {
		width: 100%;
	}

</style>
